<h1>Car Listing</h1>
<form action="/items" method="post">
  <label for="new-item">Add a Make and Model</label>
  <input id="new-item" name="new-item" type="text"><br>

  <label for="new-item">List its Year</label>
  <input id="new-item" name="new-item" type="text"><br>

  <label for="new-item">List its Mileage</label>
  <input id="new-item" name="new-item" type="text"><br>

  <label for="new-item">List its Price</label>
  <input id="new-item" name="new-item" type="text"><br>
  
  <button type="submit">Submit</button>
</form>